font-family = "JetBrainsMono Nerd Font"
window-theme = dark
font-size = 20
#background = #15191e

theme = ayu

cursor-style = block
cursor-style-blink = false
cursor-invert-fg-bg = true
cursor-opacity = .8
shell-integration-features = no-cursor

window-height = 40
window-width = 200
window-position-x = 100
window-position-y = 100
keybind = shift+enter=text:\x1b\r

